{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="page_header d-flex align-items-center">
        <div class="container">
            <div class="section_heading text-center mb-40 wow fadeInUp" data-wow-delay="300ms">
                <h3>Trendy Salon &amp; Spa</h3>
                <h2>Make Appointment</h2>
                <div class="heading-line"></div>
            </div>
        </div>
    </section>
    <section class="book_section padding">
        <div class="book_bg"></div>
        <div class="map_pattern"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-6">
                   <form action="{% url 'website:appointment' %}" method="post" 
                        class="form-horizontal appointment_form">
                        {%csrf_token%}	
                        <input type="hidden" name="email" value={{request.user.email}}>
                        <div class="book_content">
                            <h2>Make an appointment</h2>
                            <p>Barber is a person whose occupation is mainly to cut dress groom <br>style and shave
                                men's and boys hair.</p>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 padding-10">
                                <input type="text" id="app_name" name="name" class="form-control" placeholder="Name" value="{{user.get_full_name}}"  required>
                            </div>
                            <div class="col-md-6 padding-10">
                                <input type="text" id="app_phone" name="phoneNumber" class="form-control"
                                    placeholder="Your Phone No" required>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-6 padding-10">
                                <input type="date" id="app_free_time" name="date" class="form-control"
                                    placeholder="Your Free Time" required>
                            </div>
                            <div class="col-md-6 padding-10">
                                <input type="time" id="app_free_time" name="time" class="form-control"
                                    placeholder="Your Free Time" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 padding-10">
                                <select class="form-control" id="app_services" name="service">
                                    <option>Services</option>
                                    <option>Hair Styling</option>
                                    <option>Shaving</option>
                                    <option>Face Mask</option>
                                    <option>Hair Wash</option>
                                    <option>Beard Triming</option>
                                </select>
                            </div>
                            <div class="col-md-6 padding-10">
                                <select class="form-control" id="app_barbers" name="barber">
                                    <option>Choose Barbers</option>
                                    <option>Michel Brown</option>
                                    <option>Jonathan Smith</option>
                                    <option>Jack Tosan</option>
                                    <option>Martin Lane</option>
                                </select>
                            </div>
                        </div>
                        <button class="default_btn" type="submit">Make Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="team_section bd-bottom padding">
        <div class="container">
            <div class="section_heading text-center mb-40 wow fadeInUp" data-wow-delay="300ms">
                <h3>Trendy Salon &amp; Spa</h3>
                <h2>Our Barbers</h2>
                <div class="heading-line"></div>
            </div>
            <ul class="team_members row">
                <li class="col-lg-3 col-md-6 sm-padding wow fadeInUp" data-wow-delay="200ms">
                    <div class="team_member">
                        <img src="{% static 'img/team-1.jpg' %}" alt="Team Member">
                        <div class="overlay">
                            <h3>Kyle Frederick</h3>
                            <p>WEB DESIGNER</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-6 sm-padding wow fadeInUp" data-wow-delay="300ms">
                    <div class="team_member">
                        <img src="{% static 'img/team-2.jpg' %}" alt="Team Member">
                        <div class="overlay">
                            <h3>José Carpio</h3>
                            <p>WORDPRESS DEVELOPER</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-6 sm-padding wow fadeInUp" data-wow-delay="400ms">
                    <div class="team_member">
                        <img src="{% static 'img/team-3.jpg' %}" alt="Team Member">
                        <div class="overlay">
                            <h3>Michel Ibáñez</h3>
                            <p>ONLINE MARKETER</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-6 sm-padding wow fadeInUp" data-wow-delay="500ms">
                    <div class="team_member">
                        <img src="{% static 'img/team-4.jpg' %}" alt="Team Member">
                        <div class="overlay">
                            <h3>Adam Castellon</h3>
                            <p>JAVA SPECIALIST</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}